{% load static %}

<!DOCTYPE html>
<html lang="tr">

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Keşfet</h3>
            <a href=""> <i class="fas fa-arrow-right"></i> ANA SAYFA </a>
            <a href="about"> <i class="fas fa-arrow-right"></i> HAKKIMIZDA </a>
            <a href="gallery"> <i class="fas fa-arrow-right"></i> GALERİ </a>
            <a href="blog"> <i class="fas fa-arrow-right"></i> BLOG </a>
            <a href="map"> <i class="fas fa-arrow-right"></i> İLETİŞİM </a>
        </div>

        <div class="box">
            <h3>Takip et</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-youtube"></i> youtube
            </a>
            <a href="#"> <i class="fab fa-github"></i> github </a>
        </div>

    </div>

    <div class="credit"> Gizlilik Kullanım ve Telif Hakları <span>ETU372 College</span> © 2023</div>

</section>

</html>