{% load static %}

<!DOCTYPE html>
<html lang="tr">

<header class="header">

    <a href="" class="logo"> <i class="fas fa-user-graduate"></i> ETU372 College </a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a href="home">ANA SAYFA</a></li>
            <li><a href="about">HAKKIMIZDA</a></li>
            <li><a href="gallery">GALERİ</a></li>
            <li><a href="blog">BLOG</a></li>
            <li><a href="map">İLETİŞİM</a></li>
            <li><a href="http://localhost:8000/login/">OKUL YÖNETİM PANELİ</a></li>
        </ul>
    </nav>

</header>

</html>